# nodejs
packages/nodejs/src/application-viewer-types.ts linguist-generated=true
packages/nodejs/src/signatory-viewer-types.ts linguist-generated=true

# dotnet
packages/dotnet/Criipto.Signatures/Models.cs linguist-generated=true
packages/dotnet/Criipto.Signatures/Operations.cs linguist-generated=true

# python
packages/python/src/criipto_signatures/operations.py linguist-generated=true
packages/python/src/criipto_signatures/models.py linguist-generated=true

