# Installing peer deps here means we would have graphql-js installed in both the root package and this package.
# graphql-js expects there to be only one instance of the package, so we avoid installing it here, and rely on it being installed in the root package.
omit=peer
